<body>
    <form action="/recept" method="get">
    <h1>รายละเอียดการสั่งซื้อ</h1>
    <div class="form-group">
        <p class="card-text">จัดส่งคุณ : <%= payment[0].PayName %></p>
        <p class="card-text">ที่อยู่ในการจัดส่ง : <%= payment[0].PayAddress %> </p>
        <p class="card-text">เบอร์ติดต่อ: <%= payment[0].PayTel %></p>
        <p class="card-text">จำนวนยอดที่ชำระ : <%= payment[0].TotalAll %> บาท</p>


        <input type="hidden" name="PayName" value="<%= payment[0].PayName %>">
        <input type="hidden" name="PayAddress" value="<%= payment[0].PayAddress %>">
        <input type="hidden" name="PaymentID" value="<%= payment[0].PaymentID %>">
        <input type="hidden" name="TotalAll" value="<%= payment[0].TotalAll %>">
        <input type="hidden" name="customerID" value="<%= payment[0].customerID %>">
        
        <% for (let i = 0; i < products.length; i++) { %>
            <input type="hidden" name="ProductName" value="<%=  products[i].productName %>">
            <input type="hidden" name="Quantity" value="<%=  products[i].Quantity %>">
            <input type="hidden" name="SubTotalPrice" value="<%=  products[i].SubTotalPrice  %>">
        <% } %>


       

        <button type="submit" class="btn btn-primary">ใบเสร็จการชำระเงิน</button>
    </div>
    </form>
    
</body>
</html>


