<body>
    <form action="/recept" method="get">
    <h1>รายละเอียดการสั่งซื้อ</h1>
    <div class="form-group">
        <p class="card-text">จัดส่งคุณ : <%= payment[0].PayName %></p>
        <p class="card-text">ที่อยู่ในการจัดส่ง : <%= payment[0].PayAddress %> </p>
        <p class="card-text">เบอร์ติดต่อ: <%= payment[0].PayTel %></p>
        <p class="card-text">จำนวนยอดที่ชำระ : <%= payment[0].TotalAll %> บาท</p>


        <input type="hidden" name="PayName" value="<%= payment[0].PayName %>">
        <input type="hidden" name="PayAddress" value="<%= payment[0].PayAddress %>">
        <input type="hidden" name="PaymentID" value="<%= payment[0].PaymentID %>">
        <input type="hidden" name="TotalAll" value="<%= payment[0].TotalAll %>">
        <input type="hidden" name="customerID" value="<%= payment[0].customerID %>">
        <input type="hidden" name="ProductName1" value="<%=  products[0].productName %>">
        <input type="hidden" name="ProductName2" value="<%=  products[1].productName %>">
        <input type="hidden" name="ProductName3" value="<%=  products[2].productName %>">


        <input type="hidden" name="Quantity" value="<%=  products[0].Quantity %>">
        <input type="hidden" name="SubTotalPrice" value="<%=  products[0].SubTotalPrice  %>">



        <h2>รายการสินค้าที่สั่งซื้อล่าสุด (สูงสุด 3 รายการ)</h2>
        <ul>
            <% products.forEach(function(product) { %>
                <li>
                    <p>ชื่อสินค้า: <%= product.productName %></p>
                    <p>จำนวน: <%= product.Quantity %></p>
                    <p>ราคารวม: <%= product.SubTotalPrice %> บาท</p>
                </li>
            <% }); %>

        </ul>
        
        <button type="submit" class="btn btn-primary">ใบเสร็จการชำระเงิน</button>
    </div>
    </form>
    
</body>
</html>


